extends layout

block content
  div(class="ui width aligned padded grid word-break")
    div(class="row")
      div(class="fourteen column")
        if offset - stepSize >= 0
          a(class="ui blue labeled icon button left floated column" href=basepath + "/events/" + (offset - stepSize))
            i(class="arrow left icon")
            | Previous
        a(class="ui blue right labeled icon button right floated column" href=basepath + "/events/" + (offset + stepSize))
          i(class="right arrow icon")
          | Next

    div(class="row")
      div(class="fourteen column word-break")
        h4(class="ui header")
          i(class="blue angle double down icon")
          | Events
        table(class="ui blue very compact table")
          thead
            tr
              th Type
              th From
              th To
              th Amount
              th Date
          tbody
            for event in events
              +event_row(event)

    div(class="row")
      div(class="fourteen column")
        if offset - stepSize >= 0
          a(class="ui blue labeled icon button left floated column" href=basepath + "/events/" + (offset - stepSize))
            i(class="arrow left icon")
            | Previous
        a(class="ui blue right labeled icon button right floated column" href=basepath + "/events/" + (offset + stepSize))
          i(class="right arrow icon")
          | Next
