//- var basepath = basepath

extends layout

block content
  div(class="ui width aligned padded grid")
    div(class="fourteen column")
      h4(class="ui header") 
        i(class="blue angle double down icon")
        | Submit raw transaction
      form(class="ui form" action=basepath + "/tx/submit", method="post")
        div(class="field")
          label(for="txHex") Signed Transaction Hex
          textarea(name="txHex", placeholder="0x...")
        button(class="ui blue right labeled icon button floated" type="submit")
          i(class="right file outline icon")
          | Submit
    if message
      p #{message}
