//- var basepath = basepath

extends layout

block content
  div(class="ui width aligned padded grid")
    div(class="fourteen column")
      h4(class="ui header") 
        i(class="blue angle double down icon")
        | Verify contract source
      form(class="ui form" action=basepath + "/contract/verify", method="post")
        div(class="field")
          label(for="txHex") Contract address
          div(class="ui fluid input")
            input(type="text", placeholder="0x...", name="contractAddress")
        div(class="field")
          label(for="txHex") Contract name
          div(class="ui fluid input")
            input(type="text", placeholder="", name="contractName")
        div(class="field")
          label(for="txHex") Contract Source
          textarea(name="contractSource")
        div(class="field")
          label(for="txHex") Compiler Version
          select(name="compilerVersion" class="ui fluid search dropdown")
            each version in versions
              option(class="item") #{version.path}  
        div(class="required inline field")
          div(class="ui checkbox")
            input(type="checkbox", name="useOptimizations", checked)
            label Enable Optimization
        button(class="ui blue right labeled icon button floated" type="submit")
          i(class="right file outline icon")
          | Verify
    if message
      p #{message}
